# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.sdf
*.suo
*.log
*.tlog
*.pdb
*.ilk
*.pdb
*.sdf
*.suo
*.log
*.idb
*.opensdf
*.tlog
*.lastbuildstate
*.vsidx
*.db
*.db-shm
*.db-wal
*.opendb
src_imgui/examples/.vs/expsqueeze_sln/v17/DocumentLayout.backup.json
src_imgui/examples/.vs/expsqueeze_sln/v17/DocumentLayout.json
*.ipch
*.recipe
src_imgui/examples/example_win32_directx9/Debug/example_win32_directx9.vcxproj.FileListAbsolute.txt
*.vcxproj
*.filters
*.user
src_imgui/examples/example_win32_directx9/imgui.ini
*.iobj
*.ipdb
src_imgui/examples/example_win32_directx9/Release/example_win32_directx9.vcxproj.FileListAbsolute.txt
src_imgui/examples/example_win32_directx9/Release/imgui.ini
/src_imgui/examples/.vs
/src_imgui/examples/example_win32_directx9/pkmndata/frlgtrainerdata/output
